/**
 * 自定义
 */
body {
	color: #767676;
	font-size: 14px;
}

/**
 * preloader
 */
.preloader {
	background: none repeat scroll 0 0 #fff;
	height: 100%;
	opacity: 1;
	position: fixed;
	text-align: center;
	transition: opacity 0.2s ease 0s;
	width: 100%;
	z-index: 9999;
}
.preloader .spinner {
    height: 30px;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    position: relative;
    top: 50%;
    width: 30px;
}
.preloader .pre-bounce1, .preloader .pre-bounce2 { 
	-webkit-animation: 2s ease 0s normal none infinite bounce;
    -moz-animation: 2s ease 0s normal none infinite bounce;
	animation: 2s ease 0s normal none infinite bounce; 
	background-color: #08aba6;
	border-radius: 50%;
	height: 100%;
	left: 0;
	opacity: 0.6;
	position: absolute;
	top: 0;
	width: 100%;
}

.preloader .pre-bounce2 { 
    -webkit-animation-delay: -0.5s;
    -moz-animation-delay: -0.5s;
	animation-delay: -0.5s;  
}
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}

	60% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}

@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-o-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-o-transform: translateY(-30px);
		transform: translateY(-30px);
	}

	60% {
		-o-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-moz-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-moz-transform: translateY(-30px);
		transform: translateY(-30px);
	}

	60% {
		-moz-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		transform: translateY(-30px);
	}

	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
/**
 * preloader end
 */
.nomargin-bottom {
	margin-bottom: 0;
}
.nav-custom {
	/*背景透明*/
	background-color: transparent;   
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	width: 100%;
	border: none;
}
.nav-custom a {
	color: #fff !important;
}
.float-header {
	background-color: rgba(0,0,0,0.9);
}
.bobo-title {
	color: #443F3F;
	text-align: center;
	margin-bottom: 50px;
	position: relative;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
	padding-bottom: 10px;
}
h3 {
	font-size: 32px;
}
.icon { 
	width: 70px;
	height: 70px;
	margin: 0 auto;
	border: 1px solid #F14F4F;
	line-height: 75px;
	border-radius: 50%;
	margin-bottom: 20px;
}
.icon .iconfont {
	font-size: 26px;
	color: #F14F4F;
}
.bobo-whitebg {
	background-color: #fff;
}
.content-box {
	text-align: center;
}
.content-box .content {
	overflow: hidden;
}
.content-box .content h3 { 
	font-size: 16px;
	font-weight: 500;
	line-height: normal;
	margin: 7px 0 10px;
	color: #191919;
}
.content-box .content p { 
	font-size: 16px; 
}
.bobo-borderbotoom {
	border-bottom: 1px solid #e0e0e0;
}
.foryou .bobo-title {
	margin-bottom: 10px;
}
.bobo-subtitle {
	text-align: center;
	color: #443f3f;
	font-size: 20px;
	font-weight: 500;
	margin: 10px 0 25px 0;
}
.margin4 {
	margin-bottom: 30px;
}
.numbers {
	background-color: #08aba6;
	color: #fff;
}
.roll-counter .name-count {
	font-size: 14px;
	font-weight: 600;
	padding: 15px 0;	
}
.roll-counter .numb-count {
	font-size: 44px;
	padding: 0;
	font-weight: 600;
	font-family: "Raleway", sans-serif;
}
.whiteico {
	color: #fff;
	font-size: 30px !important;
}
.contact {
	background-color: #f6f6f6;
}