/**
 * 自定义
 */
body {
	color: #767676;
	font-size: 14px; 
}
.content-wrap {
	width: 100%;
	overflow-x: hidden;
}
.logo-title {
	font-size: 25px; 
}
.preloader .pre-bounce1, .preloader .pre-bounce2, .go-top { 
	background-color: #08aba6;
}

/** supersliders */

/* Mobile slider */
.mobile-slide {
	display: none;
}
.sydney-hero-area {
	overflow: hidden;
}
/** Mobile slider end */
.header-slider {
	position: relative;
    max-width: 100%;
}
.slide-text.slides {
   padding-left: 0;
}
.slides-container .slide-item {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sliderFix {
	display: block !important;
}
.text-slider-section {
	position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
    width: 100%;
	padding-top: 5px;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}
.text-slider .maintitle,
.text-slider .subtitle {
	z-index: 10;
	color: #fff;
	margin: 0;
	letter-spacing: 1px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.text-slider .maintitle {
	position: relative;
	display: inline-block;
	font-size: 57px;
	line-height: 67px;
	font-weight: 700;
	padding-bottom: 10px;
}
.text-slider .maintitle:after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 40%;
	height: 1px;
	margin-left: -20%;
}
.text-slider .subtitle {
	font-size: 30px;
	line-height: 40px;
	padding: 20px 0 50px;
	font-weight: 300;
}
.text-slider {
  position: relative;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
}
@-webkit-keyframes fadeInRightBig {
  from {
    right: -1200px;
  }
  to {
    right: 0;
  }
}
@keyframes fadeInRightBig {
  from {
    right: -1200px;
  }
  to {
    right: 0;
  }
}

.slide-inner {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 2;
	width: 100%;
	min-height: 260px;
	padding-top: 5px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.header-slider {
	overflow: hidden;
}

@media only screen and (max-width: 1024px) {
	.site-header.fixed {
		position: static !important;
	}		
	.slides-container .slide-item {
		background-attachment: scroll !important;
		background-position: center !important;
	} 
}

/* All Mobile Sizes */
	@media only screen and (max-width: 767px) {
		.text-slider .maintitle {
			font-size: 32px;
		    line-height: 1.1;
		    padding-bottom: 10px;
		}
		.text-slider .subtitle {
		    font-size: 16px;
		    line-height: 24px;
		    padding: 15px 0;
		}		
	}

	/* Mobile Portrait Size */	 
	@media only screen and (max-width: 479px) {
		.roll-project.fullwidth .project-item {
			width: 100%;
		}
		.blog-post,
		.service,
		.sidebar-column {
			padding: 0;
		}
		.roll-button {
			font-size: 12px;
		}
		.text-slider .maintitle {
			font-size: 18px;
		}
		.text-slider .subtitle {
			font-size: 14px;
		}
		.text-slider {
			margin-bottom: 5px;
		}
		.text-slider .subtitle {
			padding: 5px 0;
		}
		.button-slider {
    		padding: 5px 15px;
    		font-size: 11px;
		}
	}
/** supersliders end */

/*go-top*/ 
.go-top.show {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    visibility: visible; /*元素是否是可见的, hidden\visible\collapse(删除表格中的一行或一列)*/
    bottom: 11px;
} 
.go-top:hover {
	color:#08aba6;
	background-color: #ffffff;
	text-decoration: none;
}
.go-top {
	position: fixed !important;
	right: 20px;
	bottom: -45px;
	color: #fff;
	display: block;
	font-size: 22px;
	line-height: 35px;
	text-align: center;
	width: 40px;
	height: 40px;
	visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	/*滤镜*/
	filter: alpha(opacity=0);
	opacity: 0;
	z-index: 9999;
	cursor: pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
} 
/** go-top end */

/** preloader */
.preloader {
	background: none repeat scroll 0 0 #fff;
	height: 100%;
	opacity: 1;
	position: fixed;
	text-align: center;
	transition: opacity 0.2s ease 0s;
	width: 100%;
	z-index: 9999;
}
.preloader .spinner {
    height: 30px;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    position: relative;
    top: 50%;
    width: 30px;
}
.preloader .pre-bounce1, .preloader .pre-bounce2 { 
	-webkit-animation: 2s ease 0s normal none infinite bounce;
    -moz-animation: 2s ease 0s normal none infinite bounce;
	animation: 2s ease 0s normal none infinite bounce; 
	border-radius: 50%;
	height: 100%;
	left: 0;
	opacity: 0.6;
	position: absolute;
	top: 0;
	width: 100%;
}

.preloader .pre-bounce2 { 
    -webkit-animation-delay: -0.5s;
    -moz-animation-delay: -0.5s;
	animation-delay: -0.5s;  
}
@-webkit-keyframes bounce {
	/*0% 是动画的开始时间，100% 动画的结束时间。*/
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateY(0);
		/*旋转、缩放、移动、倾斜*/
		transform: translateY(0); 
	}

	40% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}

	60% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}

@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-o-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-o-transform: translateY(-30px);
		transform: translateY(-30px);
	}

	60% {
		-o-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-moz-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-moz-transform: translateY(-30px);
		transform: translateY(-30px);
	}

	60% {
		-moz-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		transform: translateY(-30px);
	}

	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
/** preloader end */

/**  contact */
.contact {
	background: #252525;
}
.contact p, .contact form, .contact span {
	color: #fff;
	font-size: 14px;
}
.contact button {
	background: #08aba6;
}
/** contact end */

/**  bobo-footer */
.bobo-footer {
	background: #1c1c1c;
	color: #666666;
	padding: 15px 0;
} 
.copyright {
	margin: 0 !important;
	font-size: 14px !important;
}
/** bobo-footer end */

.nomargin-bottom {
	margin-bottom: 0;
}
.nomargin {
	margin: 0;
}
.nav-custom {
	/*背景透明*/
	background-color: transparent;   
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	border: none;
}
.nav-custom a {
	color: #fff !important;
}
.float-header {
	background-color: rgba(0,0,0,0.9);
}
.bobo-title {
	color: #443F3F;
	text-align: center;
	margin-bottom: 50px;
	position: relative;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
	padding-bottom: 10px;
}
h3 {
	font-size: 32px;
}

/* icon */
.icon { 
	width: 70px;
	height: 70px;
	margin: 0 auto;
	border: 1px solid #F14F4F;
	line-height: 75px;
	border-radius: 50%;
	margin-bottom: 20px;
}
.icon .iconfont {
	font-size: 26px;
	color: #F14F4F;
}
/* icon end */

.bobo-whitebg {
	background-color: #fff;
}
.content-box {
	text-align: center;
}
.content-box .content {
	overflow: hidden;
}
.content-box .content h3 { 
	font-size: 16px;
	font-weight: 500;
	line-height: normal;
	margin: 7px 0 10px;
	color: #191919;
}
.content-box .content p { 
	font-size: 16px; 
}
.bobo-borderbotoom {
	border-bottom: 1px solid #e0e0e0;
}
.bobo-title {
	margin-bottom: 10px;
}
.bobo-subtitle {
	text-align: center;
	color: #443f3f;
	font-size: 20px;
	font-weight: 500;
	margin: 10px 0 25px 0;
}
.margin4 {
	margin-bottom: 30px;
}
.numbers {
	background-color: #08aba6;
	color: #fff; 
}
.roll-counter .name-count {
	font-size: 14px;
	font-weight: 600;
	padding: 15px 0;	
}
.roll-counter .numb-count {
	font-size: 44px;
	padding: 0;
	font-weight: 600;
	font-family: "Raleway", sans-serif;
}
.whiteico {
	color: #fff;
	font-size: 30px !important;
} 